<section class="lame lame-testimonials container">
  <div class="lame-testimonials_background icon-quote">
    <div class="lame-testimonials_background_main">
      <h1 class="lame-testimonials_background_main_title">{{ title }}</h1>
      <div class="lame-testimonials_background_main_slider container owl-carousel">
        {% for item in items %}
          <div class="lame-testimonials_background_main_slider_parent">
            <p class="lame-testimonials_background_main_slider_quote">
              {{ item.quote }}
            </p>
            <div class="lame-testimonials_background_main_slider_name">
              <h1 class="lame-testimonials_background_main_slider_name_titleName">{{ item.titleName }}<h1>
              <h2 class="lame-testimonials_background_main_slider_name_subname">{{ item.subname }}</h2>
            </div>
          </div>
        {%  endfor  %}
      </div>
    </div>
  </div>
</section>