<section class="lame lame-newsletter">
  <h1 class="lame-newsletter_title1">{{ title1 }}</br>{{ title2 }}</h1>
  <div class="lame-newsletter_subscribe">
    <input type="email" placeholder="Email Address" class="lame-newsletter_subscribe_inputEmail" />
    <button class="btn btn-primary lame-newsletter_subscribe_submit">{{ submitBtn }}</button>
  </div>
</section>