<section class="lame lame-newsletter">
  <h1 class="lame-newsletter_title1">Stay updated with news</br>Subscribe to our Newsletter</h1>
  <div class="lame-newsletter_subscribe">
    <input type="email" placeholder="Email Address" class="lame-newsletter_subscribe_inputEmail" />
    <button class="btn btn-primary lame-newsletter_subscribe_submit">Subscribe</button>
  </div>
</section>