<section class="lame lame-testimonials container">
  <div class="lame-testimonials_background icon-quote">
    <div class="lame-testimonials_background_main">
      <h1 class="lame-testimonials_background_main_title">Testimonials</h1>
      <div class="lame-testimonials_background_main_slider container owl-carousel">
        <div class="lame-testimonials_background_main_slider_parent">
          <p class="lame-testimonials_background_main_slider_quote">Denise Stevens was run over by a private waste hauling company while crossing the street at Howard and Western in Chicago. She sustained multiple fractures as well as a traumatic brain injury. She underwent multiple surgeries and a craniotomy to relieve her brain of the blood accumulation.</p>
          <div class="lame-testimonials_background_main_slider_name">
            <h1 class="lame-testimonials_background_main_slider_name_titleName">Devil Roy Barman<h1>
            <h2 class="lame-testimonials_background_main_slider_name_subname">RESULT: $4,500,000.00</h2>
          </div>
        </div>
        <div class="lame-testimonials_background_main_slider_parent">
          <p class="lame-testimonials_background_main_slider_quote">Denise Stevens was run over by a private waste hauling company while crossing the street at Howard and Western in Chicago. She sustained multiple fractures as well as a traumatic brain injury. She underwent multiple surgeries and a craniotomy to relieve her brain of the blood accumulation.</p>
          <div class="lame-testimonials_background_main_slider_name">
            <h1 class="lame-testimonials_background_main_slider_name_titleName">Devil Roy Barman<h1>
            <h2 class="lame-testimonials_background_main_slider_name_subname">RESULT: $4,500,000.00</h2>
          </div>
        </div>
        <div class="lame-testimonials_background_main_slider_parent">
          <p class="lame-testimonials_background_main_slider_quote">Denise Stevens was run over by a private waste hauling company while crossing the street at Howard and Western in Chicago. She sustained multiple fractures as well as a traumatic brain injury. She underwent multiple surgeries and a craniotomy to relieve her brain of the blood accumulation.</p>
          <div class="lame-testimonials_background_main_slider_name">
            <h1 class="lame-testimonials_background_main_slider_name_titleName">Devil Roy Barman<h1>
            <h2 class="lame-testimonials_background_main_slider_name_subname">RESULT: $4,500,000.00</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>