.block-expert-practice {
  min-width: 250px;
  width: 33%;
  padding-bottom: 30px;
  text-align: center;

  .block-expert-practice__icon {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    font-size: 64px;
  }

  h4 {
    font-weight: bold;
    margin-bottom: 26px;
    color: map-get($colors, black-1);
    line-height: 18px;
  }

  p {
    font-size: 16px;
    min-height: 77px;
    line-height: 28px;
  }

  .btn {
    &-link {
      line-height: 15.6px;
      text-transform: uppercase;
    }

    .icon {
      color: map-get($colors, primary);
      font-size: 13px;
    }
  }
}