.lame-reasons-hire {
  padding: 100px 0;

  &__title {
    color: map-get($colors, black-1);
    font-size: 46px;
    line-height: 56.12px;
    display: flex;
    justify-content: center;
  }

  &__subtitle {
    color: map-get($colors, black-1);
    font-family: $global-font-family;
    line-height: 44px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}