.lame-carousel {
  &__item {
    min-height: 80vh;
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__inner {
      position: absolute;
      top: 60%;
      transform: translate(0, -60%);
      // background: red;
      display: flex;
      flex-direction: column;
      max-width: 44%;
      &__tiretText {
        color: map-get($colors, white);
        margin-bottom: 30px;
        position: relative;
        text-transform: uppercase;

        &::before {
          position: absolute;
          width: 45px;
          height: 3px;
          background-color: map-get($colors, white);
          content: "";
          left: -20px;
          top: 50%;
          transform: translate(-50px, -50%);
        }
      }

      &__title {
        color: map-get($colors, white);
        line-height: 65px;
        margin-bottom: 30px;
        font-weight: 400;
      }
      &__text {
        color: map-get($colors, white);
        max-width: 80%;
        margin-bottom: 30px;
      }
    }
  }
}
