{% extends "../layout/skeleton.twig" %}
{% block title %}
Hello World 
{% endblock %}
{% block main %}
<div class="container">
    {% include './../lames/lame-image-content.twig' %}
</div>
{% endblock %}