<footer class="footer container">
  <div class="footer_top">
    <div class="footer_top_cols">
      <h1 class="footer_top_cols_logo">Logo</h1>
      <p class="footer_top_cols_description">The attorneys of The Horwitz Law Group in Chicago represent clients throughout Chicagoland and in Lombard, Naperville, Skokie, Evanston, Oak Park, Garfield Park, Elmhurst, Wheaton, Joliet, Lockport, Plainfield, Geneva, St. Charles, Arlington Heights, Niles, Des Plaines, Harvey, Homewood, Richton Park, Villa Park, Carol Stream, Morton Grove, Lincolnwood, Schaumburg, Hoffman Estates, Cook County, DuPage County, Will County and Kane County, Illinois.</p>
    </div>
    <div class="footer_top_cols">
      <h1 class="footer_top_cols_title">Practice Area</h1>
      <ul class="footer_top_cols_item">
        <li class="icon-fast-forward footer_top_cols_item_li"><a href="#">Business Law</a></li>
        <li class="icon-fast-forward footer_top_cols_item_li"><a href="#">Family Law</a></li>
        <li class="icon-fast-forward footer_top_cols_item_li"><a href="#">Real Estate Law</a></li>
        <li class="icon-fast-forward footer_top_cols_item_li"><a href="#">Education Law</a></li>
        <li class="icon-fast-forward footer_top_cols_item_li"><a href="#">Criminal Law</a></li>
      </ul>
    </div>
    <div class="footer_top_cols">
      <h1 class="footer_top_cols_title">Quick Link</h1>
      <ul class="footer_top_cols_item">
        <li class="icon-fast-forward footer_top_cols_item_li"><a href="#">Quick Link</a></li>
        <li class="icon-fast-forward footer_top_cols_item_li"><a href="#">About</a></li>
        <li class="icon-fast-forward footer_top_cols_item_li"><a href="#">Cases</a></li>
        <li class="icon-fast-forward footer_top_cols_item_li"><a href="#">Blog</a></li>
        <li class="icon-fast-forward footer_top_cols_item_li"><a href="#">Blog</a></li>
      </ul>
    </div>
    <div class="footer_top_cols">
      <h1 class="footer_top_cols_title">ELMHURST OFFICE</h1>
      <ul class="footer_top_cols_item">
        <li class="footer_top_cols_item_li">20 N. Clark Street Suite 3300</br>Chicago, IL 60602 | USA</li>
        <li class="footer_top_cols_item_li"><strong>Phone: </strong>312-641-9200</li>
        <li class="footer_top_cols_item_li"><strong>Email: </strong>info@example.com</li>
        <li class="footer_top_cols_item_li"><strong>Fax: </strong>312-641-9201</li>
      </ul>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="footer_bottom_copyright">© Copyright 2020 | Devdesign Studio | All right reserved.</div>
    <div class="footer_bottom_icon">
      <ul class="footer_bottom_icon_ul">
        <li class="footer_bottom_icon_ul_li"><a href="#" class="footer_bottom_icon_ul_li_link"><i class="icon-twitter"></i></a></li>
        <li class="footer_bottom_icon_ul_li"><a href="#" class="footer_bottom_icon_ul_li_link"><i class="icon-facebook"></i></a></li>
        <li class="footer_bottom_icon_ul_li"><a href="#" class="footer_bottom_icon_ul_li_link"><i class="icon-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</footer>