<header>
  <div>
    <ul>
      <li><span>Email: </span>info@company.com</li>
      <li><span>Fax: </span>312-641-9201</li>
    </ul>
  </div>
  <div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</header>