<header class="header">
  <div class="header_top">
    <div class="header_top_ul">
      <ul class="header_top_ul_contact header_top_ul">
        <li class="header_top_ul_contact_info"><span class="header_top_ul_contact_info_title">Email: </span><span class="header_top_ul_contact_info">info@company.com<span></li>
        <li class="header_top_ul_contact_info"><span class="header_top_ul_contact_info_title">Fax: </span><span class="header_top_ul_contact_info">312-641-9201<span></li>
      </ul>
      <ul class="header_top_ul_contact header_top_ul">
        <li class="header_top_ul_contact_social"><i class="icon-twitter" ></i></li>
        <li class="header_top_ul_contact_social"><i class="icon-facebook" ></i></li>
        <li class="header_top_ul_contact_social"><i class="icon-linkedin" ></i></li>
        <li class="header_top_ul_contact_social"><i class="icon-instagram" ></i></li>
      </ul>
    </div>
  </div>
  <div class="header_bottom">
    <div class="header_bottom_logo">
      <h1 class="header_bottom_logo_h1">Logo</h1>
    </div>
    <div class="header_bottom_menu">
      <ul class="header_bottom_menu_parent">
        <li class="header_bottom_menu_parent_child"><a href="#"><span class="header_bottom_menu_parent_child_span">Home</span></a></li>
        <li class="header_bottom_menu_parent_child"><a href="#"><span class="header_bottom_menu_parent_child_span">Profiles</span><a/></li>
        <li class="header_bottom_menu_parent_child"><a href="#"><span class="header_bottom_menu_parent_child_span">Practice Areas</span> <i class="icon-down-arrow header_bottom_menu_parent_child_icon"></i></a></li>
        <li class="header_bottom_menu_parent_child"><a href="#"><span class="header_bottom_menu_parent_child_span">Results</span> <i class="icon-down-arrow header_bottom_menu_parent_child_icon"></i></a></li>
        <li class="header_bottom_menu_parent_child"><a href="#"><span class="header_bottom_menu_parent_child_span">Testimonials</span> <i class="icon-down-arrow header_bottom_menu_parent_child_icon"></i></a href="#"></li>
        <li class="header_bottom_menu_parent_child"><a href="#"><span class="header_bottom_menu_parent_child_span">Blog</span> <i class="icon-down-arrow header_bottom_menu_parent_child_icon"></i></a></li>
        <li class="header_bottom_menu_parent_child"><a href="#"><span class="header_bottom_menu_parent_child_span">Contact Us</span> <i class="icon-down-arrow header_bottom_menu_parent_child_icon"></i></a></li>
      </ul>
    </div>
    <div class="header_bottom_contact">
      <div class="header_bottom_contact_icon">
        <i class="icon-headset"></i>
      </div>
      <div class="header_bottom_contact_info">
        <h1 class="header_bottom_contact_info_h1">312.641.9200</h1>
        <span class="header_bottom_contact_info_span">Call Us For Free Consultation</span>
      </div>
    </div>
  </div>
</header>