<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="assets/css/vendor/libs.min.css" rel="stylesheet">
    <link href="assets/css/main.min.css" rel="stylesheet">
  </head>


  <body>
    {% include 'header.twig' %}
    <main>
        {% block main %}{% endblock %}
    </main>
    {% include 'footer.twig' with {
      items: [
        {
          classNode: "footer_top",
          itemTop: true,
          footerTopItem: [
            {
              classCols: "footer_top_cols",
              h1Class: "footer_top_cols_logo",
              hasimg:true,
              h1Content: "../assets/imgs/logoFooter.png",
              hasDescription: true,
              descriptionClass: "footer_top_cols_description",
              descriptionContent: "The attorneys of The Horwitz Law Group in Chicago represent clients throughout Chicagoland and in Lombard, Naperville, Skokie, Evanston, Oak Park, Garfield Park, Elmhurst, Wheaton, Joliet, Lockport, Plainfield, Geneva, St. Charles, Arlington Heights, Niles, Des Plaines, Harvey, Homewood, Richton Park, Villa Park, Carol Stream, Morton Grove, Lincolnwood, Schaumburg, Hoffman Estates, Cook County, DuPage County, Will County and Kane County, Illinois."
            },
            {
              classCols: "footer_top_cols",
              h1Class: "footer_top_cols_title",
              h1Content: "Practice Area",
              hasTitle: true,
              hasLink: true,
              itemLink: [
                {
                  classLink: "icon-fast-forward footer_top_cols_item_li",
                  content: "Business Law"
                },
                {
                  classLink: "icon-fast-forward footer_top_cols_item_li",
                  content: "Family Law"
                },
                {
                  classLink: "icon-fast-forward footer_top_cols_item_li",
                  content: "Real Estate Law"
                },
                {
                  classLink: "icon-fast-forward footer_top_cols_item_li",
                  content: "Education Law"
                },
                {
                  classLink: "icon-fast-forward footer_top_cols_item_li",
                  content: "Criminal Law"
                },
              ]
            },
            {
              classCols: "footer_top_cols",
              h1Class: "footer_top_cols_title",
              h1Content: "Quick Link",
              hasTitle: true,
              hasLink: true,
              itemLink: [
                {
                  classLink: "icon-fast-forward footer_top_cols_item_li",
                  content: "Home"
                },
                {
                  classLink: "icon-fast-forward footer_top_cols_item_li",
                  content: "About"
                },
                {
                  classLink: "icon-fast-forward footer_top_cols_item_li",
                  content: "Cases"
                },
                {
                  classLink: "icon-fast-forward footer_top_cols_item_li",
                  content: "Blog"
                },
                {
                  classLink: "icon-fast-forward footer_top_cols_item_li",
                  content: "Contact"
                },
              ]
            },
            {
              classCols: "footer_top_cols",
              h1Class: "footer_top_cols_title",
              h1Content: "ELMHURST OFFICE",
              hasTitle: true,
              hasContact: true,
              itemLink: [
                {
                  classLink: "footer_top_cols_item_li",
                  content: "20 N. Clark Street Suite 3300</br>Chicago, IL 60602 | USA"
                },
                {
                  classLink: "footer_top_cols_item_li",
                  content: "<strong>Phone: </strong>312-641-9200"
                },
                {
                  classLink: "footer_top_cols_item_li",
                  content: "<strong>Email: </strong>info@example.com"
                },
                {
                  classLink: "footer_top_cols_item_li",
                  content: "<strong>Fax: </strong>312-641-9201"
                },
              ]
            },
          ]
        },
        {
          classNode: "footer_bottom",
          itemBottom: true,
          footerBottomItem: [
            {
              classChildNode: "footer_bottom_copyright",
              noLink: true,
              content: "© Copyright 2020 | Devdesign Studio | All right reserved."
            },
            {
              classChildNode: "footer_bottom_icon",
              hasLink: true,
              boottomFooter: [
                {
                  classLi: "footer_bottom_icon_ul_li",
                  classA: "footer_bottom_icon_ul_li_link",
                  classi: "icon-twitter"
                },
                {
                  classLi: "footer_bottom_icon_ul_li",
                  classA: "footer_bottom_icon_ul_li_link",
                  classi: "icon-facebook"
                },
                {
                  classLi: "footer_bottom_icon_ul_li",
                  classA: "footer_bottom_icon_ul_li_link",
                  classi: "icon-linkedin"
                }
              ]
            }
          ]
        }
      ]
    } %}

    <script src="assets/js/vendor/libs.js"></script>
    <script src="assets/js/main.min.js"></script>
  </body>

</html>
