// Buttons
.btn {
  @include ease-in-out();
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  min-width: 150px;
  margin: 15px 0;
  overflow: hidden;
  position: relative;
  padding: 10px 30px;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  line-height: 19px;

  &:hover,
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background-color: map-get($colors, primary);
    box-shadow: none;
    color: map-get($colors, supernova);
    outline: 0;
  }

  &-primary {
    background-color: map-get($colors, primary);
    color: map-get($colors, white);

    &:hover {
      background-color: map-get($colors, transparent);
      color: map-get($colors, primary);
      border-color: map-get($colors, primary);
      transform-origin: center;
      @include ease-in-out();
    }
  }

  &-secondary {
    background-color: map-get($colors, white);
    color: map-get($colors, primary);
    border-color: map-get($colors, primary);
    &:hover {
      background-color: map-get($colors, primary);
      color: map-get($colors, white);
      border-color: map-get($colors, transparent);
    }
  }
  &-link {
    background-color: transparent;
    color: map-get($colors, primary);
    border: 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.14px;

    &:after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 15%;
      right: 15%;
      height: 1px;
      background-color: map-get($colors, primary);
      transform: scaleX(0);
      transform-origin: bottom left;
      transition: transform 0.5s;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: transparent !important;
      color: map-get($colors, primary);
      text-decoration: none;
      &:after {
        transform: scaleX(1);
      }
    }
  }
}
