.footer {
  height: 532px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  &_top{
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid map-get($colors, blue-dark);
    padding-top: 100px;
    &_cols{
      flex: 0 0 20%;
      margin-bottom: 64px;
      &:first-child{
        flex: 0 0 40%;
      }
      &:last-child{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        li{
          height: auto;
          font-size: 16px;
          font-weight: 400;
          line-height: 30px;
        }
      }
      &_logo{
        font-size: 30px;
        color: map-get($colors, primary);
        margin-bottom: 20px;
      }
      &_item{
        list-style: none;
        padding: 0;
        &_li{
          line-height: 30px;
          height: 30px;
          margin-bottom: 5px;
          &::before{
            margin-right: 10px;
            font-size: 16px;
            font-weight: 400;
          }
          &_a{
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
      &_description{
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
      }
      &_title{
        font-size: 22px;
        font-weight: 700;
        line-height: 31.2px;
        margin-bottom: 19px;
      }
    }
  }
  &_bottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 48px 0;
    &_icon{
      &_ul{
        list-style: none;
        padding: 0;
        display: flex;
        &_li{
          margin-right: 24px;
          background-color: #cf9455;
          padding: 10px;
          border-radius: 18px;
          width: 35px;
          height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:last-child{
            margin-right: 0;
          }
          &_link{
            color: map-get($colors, white) !important;
            i{
              &:hover {
                color: #fff !important;
              }
            }
          }
        }
      }
    }
  }
}