<div class="block block-about-us">
    <img class="block-about-us__image" src="./assets/imgs/profile.jpg" alt="">
    <div class="block-about-us__content">
        <h1 class="block-about-content__title">Chicago Personal Injury Attorneys
            The Horwitz Law Group</h1>
        <p>
            The Horwitz Law Group has a history of winning key Chicago Car Accident Cases as well as serious personal
            injury cases.
        </p>
        <p>
            If you have been injured because someone else was careless or negligent, you may have a right to receive
            financial compensation for the damages you have suffered. Obtaining fair compensation for damages is not an
            easy process. You need a dedicated Chicago personal injury lawyer to fight for your rights. The lawyers of
            The Horwitz Law Group will stand up and fight for you.

        </p>
        <a href="#" class="btn btn-primary">More about us</a>
        <img src="./assets/imgs/signature.png" alt="" class="block-about-content__signature">
    </div>
</div>
