<div class="block block-numerote">
  <div class="block-numerote__number">
    {{number}}
  </div>
  <h4 class="block-numerote__title">
    {{title}}
  </h4>
  <p class="block-numerote__text">
    {{text}}
  </p>
</div>
