.primary {
  color: map-get($colors, primary);
}
.bg-primary {
  background-color: map-get($colors, primary);
}

.black {
  color: map-get($colors, black);
}
.bg-black {
  background-color: map-get($colors, black);
}

.white {
  color: map-get($colors, white);
}
.bg-white {
  background-color: map-get($colors, white);
}

.transparent {
  color: map-get($colors, transparent);
}
.bg-transparent {
  background-color: map-get($colors, transparent);
}

.error {
  color: map-get($colors, error);
}
.bg-error {
  background-color: map-get($colors, error);
}

.success {
  color: map-get($colors, success);
}
.bg-success {
  background-color: map-get($colors, success);
}

.black-1 {
  color: map-get($colors, black-1);
}
.bg-black-1 {
  background-color: map-get($colors, black-1);
}

.black-2 {
  color: map-get($colors, black-2);
}
.bg-black-2 {
  background-color: map-get($colors, black-2);
}

.grey {
  color: map-get($colors, grey);
}
.bg-grey {
  background-color: map-get($colors, grey);
}

.grey-1 {
  color: map-get($colors, grey-1);
}
.bg-grey-1 {
  background-color: map-get($colors, grey-1);
}

.blue-dark {
  color: map-get($colors, blue-dark);
}
.bg-blue-dark {
  background-color: map-get($colors, blue-dark);
}
